<footer [class.footerAtImprint]="router.url =='/imprint' ">
    <div class="legal">
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data-protection" class="noWrap">Data Protection</a>
    </div>


    <div class="flexReverse">

  


    <div class="socials">



        <a (click)="openLink('https://www.linkedin.com/in/viktor-s%C3%A4ubert-9361b1239/')">          <img src="./assets/img/footer/linkedin.png"></a>
        <a (click)="openLink('https://www.xing.com/profile/Viktor_Saeubert/cv')">        <img src="./assets/img/footer/xing.png"></a>
        <a (click)="openLink('https://github.com/vsaeu?tab=repositories')"><img src="./assets/img/footer/github.png"></a>

    </div>

</div>

<div class="madeBy">
    <span>© Viktor Säubert 2022 - made this page with <span class="heart">&#10084;</span> and Angular</span>
</div>
</footer>