<footer [class.footerAtImprint]="router.url =='/imprint' ">
    <div class="legal">
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data protection" class="noWrap">Data Protection</a>
    </div>


    <div class="flexReverse">

  


    <div class="socials">

        <img src="./assets/img/footer/linkedin.png">
        <img src="./assets/img/footer/xing.png">
        <img src="./assets/img/footer/github.png">

    </div>

</div>

<div class="madeBy">
    <span>© Viktor Säubert 2022 - made this page with <span class="heart">&#10084;</span> and Angular</span>
</div>
</footer>