h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: white;
    background-color: black;

    // font-size: 3rem;

    span {
        border-bottom: 4px red solid;
        padding-bottom: 1rem;
    }
}

.journeyStationsWrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
}

.journeyStationsClass{
    // background-color: antiquewhite;
    color: white;
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    display: flex;
    flex-direction: column;

    img{
        height: 1.5rem;
        width: 1.5rem;
        padding: .8rem;
        background-color: #2cfcd8;
        border-radius: 100%;
    }

    span{
        text-align: center;
    }

}

.aboutFirstRow{
    display: flex;
    justify-content: center;
    margin: 6rem 0 2rem 0;
}

.headerWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutIntro{
    color: white;
  width: 25rem !important;
  text-align: center;
  margin: 0 3rem;
  box-sizing: border-box;
}

.profilePic {
    // height: 15rem;
    width: 15rem;
    object-fit: contain;
    border-radius: 1rem;
    // border: 1px solid #fa2759;
    box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 0.5);

    transition: 1125ms;
  }

