h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: white;

    // font-size: 3rem;

    span {
        border-bottom: 4px red solid;
        padding-bottom: 1rem;
    }
}

.journeyStationsWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.journeyStationsClass {
    // background-color: antiquewhite;
    color: white;
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    display: flex;
    flex-direction: column;

    img {
        height: 1.5rem;
        width: 1.5rem;
        padding: 0.8rem;
        background-color: #2cfcd8;
        border-radius: 100%;
    }

    span {
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .journeyStationsWrapper {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .journeyStationsClass {
        width: 100vw;
        margin: 0;
        // border: wheat 1px solid;
        padding-top: 2rem;
    }

    // .aboutFirstRow {
    //     margin: 5rem;
    // }
}

.aboutFirstRow {
    display: flex;
    justify-content: center;
    // margin: 6rem 3rem 2rem 3rem;
    flex-wrap: wrap-reverse;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;

    // span{
    //     margin-left: 3rem;
    //     margin-right: 3rem;

    // }
}

.aboutIntro {
    display: flex;
    color: white;
    // width: 25rem !important;
    text-align: center;
    margin: 0 3rem 3rem 3rem;


}

.profilePic {
    // height: 15rem;
    width: 15rem;
    object-fit: contain;
    border-radius: 1rem;
    // border: 1px solid #fa2759;
    box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 0.5);

    transition: 1125ms;
}

h4 {
    text-align: center;
}
