h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: white;
    background-color: black;
    margin-top: 5rem;

    span {
        border-bottom: 4px red solid;
        padding-bottom: 1rem;
    }
}

.projectsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 3rem;
    margin-right: 3rem;
    // border: 1px solid blue;
}

.projects {
    position: relative;
    display: flex;
    align-items: center;
    // box-sizing: border-box;

    //     margin: 2rem 1rem;
    //     padding-top: 1.5555rem;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 18rem;
    //     flex-direction: column;
    // background-color: white;
    //     height: 6rem;;
    //     // font-weight: bold;
    //     border-radius: 1rem;
    //     font-size: 1.5rem;
    //     text-align: center;
    //     box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 0.5);

    // flex-wrap: wrap;

    //     div{
    //         position: absolute;
    // top: -2.2rem;
    //         width: 4.4rem;
    //         height: 4.4rem;
    //         border-radius: 100%;
    //         // border: 1px solid gray;
    //         background-color: white;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.87);

    .prjImg {
        width: 19rem;
        height: 15rem;
        // position: absolute;
        // top: -1.5rem;
        object-fit: cover;
        margin: 2rem 3rem;
        cursor: pointer;
        box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 0.5);
        border-radius: 1rem;
    }
}

.projectDescription {
    position: absolute;
    z-index: 555;
    top: 2rem;
    left: 3rem;
    right: 3rem;
    bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: 225ms;
    border-radius: 1rem;
    h3 {
        margin-bottom: 0;
        margin-top: 0;
    }

    h5 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    &:hover {
        opacity: 1;
        transition: 225ms;
    }
}

.projectFilter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    span {
        color: white;
        border: 2px solid red;
        padding: 0.5rem 1rem;
        margin: 0.5rem 1rem;
        cursor: pointer;
        transition: ease-in-out 225ms;
    }
}

@media (max-width: 600px) {
    .projectFilter {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 3rem;
        // border: green 1px solid;
    }
}

.activeProjectFilterClass {
    background-color: red;
    transition: ease-in-out 225ms;
}

dt {
    color: red;
}

.projectsFooter {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 0.5rem;

    .imGit {
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        cursor: pointer !important;
        background-color: rgb(255, 255, 255, 0.5);
        &:hover {
            background-color: white;
        }
    }

    a {
        padding: 0.3rem;
        border: 1px solid #fa2759;
        cursor: pointer;

        &:hover {
            color: #fa2759;
        }
    }
}

.hiddenProject {
    display: none;
}
