h1 {
    text-align: center;
    padding-bottom: 2rem;
    color: white;
    background-color: black;

    // font-size: 3rem;

    span {
        border-bottom: 4px red solid;
        padding-bottom: 1rem;
    }
}

.projectsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
}

.projects {
    position: relative;
    //     margin: 2rem 1rem;
    //     padding-top: 1.5555rem;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 18rem;
    //     flex-direction: column;
    // background-color: white;
    //     height: 6rem;;
    //     // font-weight: bold;
    //     border-radius: 1rem;
    //     font-size: 1.5rem;
    //     text-align: center;
    //     box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 0.5);

    // flex-wrap: wrap;

    //     div{
    //         position: absolute;
    // top: -2.2rem;
    //         width: 4.4rem;
    //         height: 4.4rem;
    //         border-radius: 100%;
    //         // border: 1px solid gray;
    //         background-color: white;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.87);

    img {
        width: 18rem;
        height: 15rem;
        // position: absolute;
        // top: -1.5rem;
        object-fit: cover;
        margin: 2rem;
        cursor: pointer;
        box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 0.5);
        border-radius: 1rem;
    }
}

.projectDescription {
    position: absolute;
    z-index: 555;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projectFilter {
    display: flex;
    justify-content: center;

    span {
        color: white;
        border: 2px solid red;
        padding: 0.5rem 1rem;
        margin: 0.5rem 1rem;
        cursor: pointer;
        transition: ease-in-out 225ms;
    }
}

.activeProjectFilterClass {
    background-color: red;
    transition: ease-in-out 225ms;
}

dt {
    color: red;
}

.projectsFooter {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .imGit {
        height: 2rem;
        width: 2rem;
    }

}