<div class="">


    <h1>Schicke uns Deine Rezepte, Fragen und Kommentare</h1>

    <!-- ftp://f01463fe@gruppe-137.developerakademie.net/send_mail.php -->
    <!-- <form action="http://students.developerakademie.com/send_mail/send_mail.php" method="POST"> -->
    <form action="https://viktorsaeubert.com/send_mail.php" method="POST">
        <div class="">
            <input name="" placeholder="Dein Name" >

            <textarea name="message" placeholder="Deine Nachricht an uns" class=""></textarea>

            <button type="submit">Mail senden</button>

            <input name="recipent" placeholder="Test: Empfänger Email" class="testMail">
        </div>
    </form>

</div>