<div class="contact" id="Contact">

    <h1 data-aos="fade-right"><span>GET IN TOUCH</span></h1>

    <div data-aos="slide-up" class="contactWaysRow">
        <div class="contactAdressRow">
            <img src="./assets/img/pin.png">
            <h3>ADDRESS</h3>
            <span>Roman-Herzog-Straße 30</span>
            <span>68753 Waghäusel</span>
            <span>Germany</span>
        </div>

        <div class="contactAdressRow">
            <img src="./assets/img/phone.png">
            <h3>PHONE</h3>
            <a href="tel:+4915170029771" class="tel">+49 151 77129 700
            </a>

        </div>

        <div class="contactAdressRow">
            <img src="./assets/img/mail.png">
            <h3>E-Mail</h3>

            <a href="mailto:vsaeubert@gmail.com">vsaeubert@gmail.com</a>

        </div>

    </div>

    <div>

        <div class="mapAndContactForm">



            <iframe data-aos="slide-rigth"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d288580.82252591435!2d8.271021102525014!3d49.24302285687297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xef6f9d1641f39b9!2zNDnCsDE0JzAyLjgiTiA4wrAzMycyNy40IkU!5e0!3m2!1sde!2sde!4v1650035378196!5m2!1sde!2sde"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>


            <!-- ftp://f01463fe@gruppe-137.developerakademie.net/send_mail.php -->
            <!-- <form action="http://students.developerakademie.com/send_mail/send_mail.php" method="POST"> -->
            <form data-aos="slide-left" action="https://www.viktorsaeubert.com/send_mail.php" method="POST">
                <div class="contactForm">
                    <span>Your Name</span>
                    <input class="effect-8" name="senderName" placeholder="Please enter your Name">
                    <span>Your E-Mail Address</span>

                    <input class="effect-8"  name="recipent" placeholder="Please enter your E-Mail Address" class="testMail">
                    <span>Your Message</span>

                    <textarea class="effect-8"  name="message" placeholder="Please enter your Massage" class=""></textarea>

                    <button type="submit"  >Send Mail</button>

                </div>
            </form>
        </div>
    </div>

</div>

