<header [class.headerDark]="darkMode" id="Home"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <span class="dNone" id="VS" [class.darkVS]="darkMode" routerLink="/"><>VS</span>

    <div [class.darkLinks]="darkMode" class="headerLinks">
        <a (click)="toHome()" routerLink="/">HOME</a>
        <a (click)="toSkills()"  >SKILLS</a>
        <a (click)="toProjects()"  >PROJECTS</a>
        <a (click)="toAbout()" >ABOUT</a>
        <a (click)="toContacts()" >CONTACT</a>
    </div>

    <span class="menuBar" id="menuBar">III</span>

</header>