header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    z-index: 555555;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;

    a {
        color: white;
        text-decoration: none;
        margin-left: 3rem;
        font-weight: 600;
        cursor: pointer;
        transition: 225ms;


        &:hover {
            color: rgba(255, 255, 255, 0.6);
            border-bottom: 2px solid #2dfcd8;
transition: 225ms;
        }
    }

    img {
        height: 50px;
        cursor: pointer;
    }

    .darkLinks{
        a {
            color: black;
            transition: 225ms;

            &:hover {
                color: rgba(0,0,0,.6);
                border-bottom: 2px solid #2dfcd8;
                transition: 225ms;

            }
        }
    }


}

.headerDark{
    background-color: white;
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,.3);
}

span{
    font-family: 'Cabin Sketch', cursive;
   font-size: 3rem;
   color: rgb(255, 255, 255);
cursor: pointer;
}

.darkVS{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

a{
    cursor: pointer;
}

@media (max-width: 600px) {
.headerLinks{
    display: none;
}
}