
<h1 id="Skills" data-aos="fade-right"><span>MY SKILLS</span></h1>
<!-- <div> <img src="./assets/img/angular.svg" alt=""></div> -->
<!-- <p *ngFor="let skill of skills; let i = index;" >{{skills[i]['name']}}</p> -->

<div class="skillsWrapper">
    <div data-aos="slide-up" data-aos-once="true" *ngFor="let skill of skills; let i = index;" class="skills">
        <div>
            <img src="./assets/img/skillsIcons/{{skills[i]['path']}}">
        </div>
        <span>{{skills[i]['name']}}</span>
    </div>
</div>


