/* You can add global styles to this file, and also import other style files */

:root {
    --c-grey: #1a1a1a;
    --c-primary: #fa2759;
    --c-secodary: #2dfcd8;
    --c-black: #000;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    background-color: black;
  }

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    position:relative;
    overflow-x: hidden;

    // background-color: black;
}



.lightMode{
    background-color: rgb(131, 61, 61) !important;

}

// font-family: 'Black Ops One', cursive;
// font-family: 'Cabin Sketch', cursive;
// font-family: 'Merienda', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Press Start 2P', cursive;
// font-family: 'Righteous', cursive;

$base-color-blue: #2cfcd8;
$base-color-red: #fa2858;

.bg-black{
    background-color: rgb(209, 192, 192);
}

.pos_abs{
    position: absolute;
}