/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

// font-family: 'Black Ops One', cursive;
// font-family: 'Cabin Sketch', cursive;
// font-family: 'Merienda', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Press Start 2P', cursive;
// font-family: 'Righteous', cursive;